body {
	color: #333;
	background: #f1f1f1;
	font-family: 'Helvetica Neue', 'Helvetica', sans;
}

.page {
	margin: 0 auto;
	width: 700px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #666;
}
a:hover {
	color: #999;
}
