<!DOCTYPE html>
<html>
<head>
	<title>mlmmj config</title>
	<link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
	<div class="page">
		<h1><a href="index.php">Mailing Lists Admin :: ellak.gr</a></h1>
		<h2>{LIST} configuration</h2>

		<form method="post" action="save.php">
			<input type="hidden" name="list" value="{LIST}">
			<table border="1">
			{ROWS}
			</table>
			<input type="submit" name="submit" />
		</form>

		<p>
			<a href="index.php">Index</a>
		</p>
	</div>
</body>
</html>
