<!DOCTYPE html>
<html>
<head>
	<title>mlmmj - {LIST} subscribers</title>
	<link rel="stylesheet" href="/assets/css/style.css">

	<style type="text/css">
		#subscribers {
			float: left;
		}

		#addsubscribers {
			float: left;
			margin-left: 2em;
		}
		#index {
			clear: both;
		}
	</style>
</head>

<body>
	<div class="page">
		<h1><a href="index.php">Mailing Lists Admin :: ellak.gr</a></h1>
		<h2>{LIST} subscribers</h2>

		{MESSAGE}

		<table id="subscribers">
		{SUBS}
		</table>

		<form method="post" action="subscribers.php?list={LIST}" id="addsubscribers">
		Add subscribers:<br/>
		<textarea name="tosubscribe" rows="5" cols="30">
		</textarea><br/>
		<input type="submit" name="submit" value="Add" />
		</form>

		<p id="index">
			<a href="index.php">Homepage</a>
		</p>
	</div>
</body>
</html>
